<!DOCTYPE html>
<html lang="en">
  <head>
    <title>ARTY's Chat Room</title>

    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <style>
        * { margin: 0; padding: 0; box-sizing: border-box; }

        body { 
		background-image: url("KRDE98234HFERHJ43.jpg");
		font: 30px Helvetica, Arial; }
        
	form { background: #fff; padding: 3px; position: fixed; bottom: 0; width: 100%; border-color: #000; border-top-style: solid; border-top-width: 1px;}
        
	form input { border-style: solid; border-width: 1px; padding: 10px; width: 85%; margin-right: .5%; }

        form button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; margin-left: 2%; }
        #messages { list-style-type: none; margin: 0; padding: 0; }
        #messages li {  
		background: rgb(0, 0, 0); /* Fallback color */ 
		background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */ 
		color: #f1f1f1;
		padding: 5px 10px; }
        #messages li:nth-child(odd) { 
		background: rgb(0, 0, 0); /* Fallback color */ 
		background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */ 
		color: #f1f1f1;
		/*background: #eee; */
	}

    </style>
    <script src="../../socket.io/socket.io.js"></script>
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
  </head>
  <body>
    <ul id="messages"></ul>

	<div class="container">
		<div class="panel panel-default">
    <div class="panel-body">Control Room</div>

		<img class="img-rounded"> <br>
		<button type="button" class="btn btn-success">Left</button>
		<button type="button" class="btn btn-success">Right</button>
  		<button type="button" class="btn btn-success">Forward</button>
		<button type="button" class="btn btn-success">Stop</button>
		<button type="button" class="btn btn-success">Alarm</button>
	</div>
    </form>
    <script>
            var socket = io.connect('http://localhost:8080');
    </script>
  </body>
</html>
