[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
requests = "*"
flask = "*"
flask-socketio = "*"
http-server = "*"
server = "*"

[requires]
python_version = "2.7"
