
.container{
padding-top: 10%;
}

.pad {
  padding-top: 25px;
}

.padr {
  padding-right: 30px;
}
/*.card{
background-color: DodgerBlue;
margin-top: 15px;
padding: 4%;
border: 1px solid #eeeeee;
font-size: auto;
font-weight: bolder;
text-align: center;
cursor: pointer;
color: #fff;
}
.card:hover{
background-color: RoyalBlue;
}*/




img {
    max-width: 90%;
    max-height: 90%;
    min-width: 50%;
    min-height: 50%;

}
