<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Doodle Page</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{{ url_for('static', filename='https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='vendor/fontawesome-free/css/all.min.css')}}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/resume.min.css')}}" rel="stylesheet">


  </head>

  <body id="page-top">

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">
        <span class="d-block d-lg-none">Doodle Web</span>
        <span class="d-none d-lg-block">
          <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="{{ url_for('static', filename='img/profile.jpg')}}" alt="">
        </span>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
                      <li class="nav-item">
            			<a class="nav-link js-scroll-trigger" href="#main">Welcome</a>
 		      </li>
                                          <nav class="nav-item">

                                                  <a class="nav-link js-scroll-trigger" href="/main">Most Recent</a>
                                                  <a class="nav-link js-scroll-trigger" href="/m_discuss">Popular Discussion</a>
                                                  <a class="nav-link js-scroll-trigger" href="/m_like">Most Liked</a>

    					  </nav>

            <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#about">Upload/Logout</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#interests">Photos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#awards">About</a>
          </li>
        </ul>
      </div>
    </nav>

      <hr class="m-0">

      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="main">
        <div class="my-auto">
            <h1 class="mb-0">Hi
            <span class="text-primary"> {{ session['username'] }} </span>
          </h1>
            <br>
                      <h2 class="subheading mb-5">Welcome to the <span class="text-primary font-weight-bold">ARTY Page</span>
          </h2>


          {% for row in message: %}
<br>
            <p class="resume-content mr-auto">
                <div class="resume-date text-md-right">
            <span class="text-primary">  {{ row.time }} <br> <h6 class="text-primary">{{ row.username }}</h6> </span>
            </div>

              <div class="card card-body">
                  <p class="lead mb-5 font-weight-bold text-dark"> {{ row.message }} </p>
                   <img src= static\image\{{ row.filepath }} class="rounded mx-auto d-block img-thumbnail" alt="..." width="304" height="236">

  </div>


                <br>


{% if row.up_ed != None: %}
                                    <p class="font-italic"> (The post has been edited on {{ row.up_ed }})</p>
                {% endif %}

           </span>

<br>
            <div class="container">
                 <form action= "/like" method="post">
                     <input type="hidden" name="filepath" value={{ row.m_num }}>
                     <input type="submit" value=Like({{ row.likenumber }}) class="btn btn-primary">
  <a href=#test{{ row.m_num }} class="btn btn-primary" data-toggle="collapse">Comment({{ row.c_number }})</a>
                     {% if row.username == session['username']: %}
                     <button class="btn btn-primary" type="button" data-toggle="collapse" data-target=#delete{{ row.m_num }} aria-expanded="false" aria-controls="collapseExample">
    Delete Message
  </button>
                     <button class="btn btn-primary" type="button" data-toggle="collapse" data-target=#edit_message{{ row.m_num }} aria-expanded="false" aria-controls="collapseExample">
    Edit Message
  </button>
                     {% endif %}
                    </form>
<div class="collapse" id=delete{{ row.m_num }}>
      <form action= "/delete" method="post" enctype="multipart/form-data">
         <input type="hidden" name="filepath" value={{ row.m_num }}>
  <div class="card card-body">
     You sure want to delete? The image, comments, likes, and message will be gone forever. If so, click
      <br><input type="submit" value="HERE" class="btn btn-primary">
  </div>
         </form>

</div>
<div class="collapse" id=edit_message{{ row.m_num }}><br>
        <form action= "/edit_m" method="post" enctype="multipart/form-data">
        <input type="text" value="" placeholder="Edit your message here" name="message" size="35">
         <input type="submit" value="Edit" class="btn btn-primary">
            <input type="hidden" name="filename" value={{ row.m_num }}>
            </form>

</div>

  <div id=test{{ row.m_num }} class="collapse">
    <div class="well">
    <hr data-brackets-id="12673">
    <ul data-brackets-id="12674" id="sortable" class="list-unstyled ui-sortable">
        {% for line in comment: %}
                {% if line.filename == row.m_num: %}
        <div class="panel-body">
                    <ul class="chat">
                        {% if line.username == session['username']: %}
                        <li class="right clearfix">
                                <div class="header">
                                    <h6><span class="text-primary">{{ line.username }}:</span></h6>
                                </div>
                            <p class="lead mb-5 font-weight-bold text-dark"> {{ line.comment }} </p>
                                 <p class="text-sm-right">{{ line.time }}
                                     {% if line.up_ed != 0: %}
                                    <p class="font-italic"> (The comment has been edited on {{ line.up_ed }})</p>
                {% endif %}
                                                                {% if line.username == session['username']: %}
                                    <a href=#edit{{ line.c_num }} data-toggle="collapse">
  Edit</a>
                                    <a href=#rm_c{{ line.c_num }} data-toggle="collapse">
  Remove</a>
                            {% endif %}

</p>
<div class="collapse" id=rm_c{{ line.c_num }}>
     <form action= "/del_c" method="post" enctype="multipart/form-data">
         <input type="hidden" name="cnum" value={{ line.c_num }}>
         <input type="hidden" name="filepath" value={{ line.filename }}>
  <div class="card card-body">
     You sure want to remove this comment? If so, click <br><input type="submit" value="HERE" class="btn btn-primary">
  </div>
         </form>
</div>

                            <div class="collapse" id=edit{{ line.c_num }}>
  <div class="card card-body">
      <div class="input-group">
        <form action= "/c_update" method="post" enctype="multipart/form-data">
        <input type="text" value="" placeholder="Edit your message here" name="comment" size="35">
         <input type="submit" value="Edit" class="btn btn-primary">
            <input type="hidden" name="cnum" value={{ line.c_num }}>
            </form>
    </div>
  </div>
</div>
                        </li>

                        {% else: %}
                        <li class="right clearfix">
                            <div class="chat-body clearfix">
                                <div class="header">
                                  <h6><span class="text-primary">{{ line.username }}:</span> </h6>
                                    <p class="lead mb-5 font-weight-bold text-dark"> {{ line.comment }}
                                    <p class="text-sm-right">{{ line.time }}</p></p>
                                {% if line.up_ed != 0: %}
                                    <p class="font-italic"> (The comment has been edited on {{ line.up_ed }})</p>
                {% endif %}

                                </div>

                            </div>
                        </li>
                        {% endif %}

                    </ul>
                       </div>
                 {% endif %}
        {% endfor %}
    </ul>





    <div class="input-group">
        <form action= "/comment" method="post" enctype="multipart/form-data">
        <input type="text" value="" placeholder="Write your message here" name="comment" size="35">
         <input type="submit" value="Post" class="btn btn-primary">
            <input type="hidden" name="filepath" value={{ row.m_num }}>
            </form>
    </div>
    </div>

  </div>



            </div>


          {% endfor %}

        </div>


      </section>

<div class="container-fluid p-0">

      <section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
        <div class="my-auto">
          <h1 class="mb-0">Upload
          </h1>
            <br>
            <br>
          <form action="/upload" method="post" enctype="multipart/form-data" >
            <p class="text-primary font-weight-bold">Make A Post: </p>
            <input type="text" value="" placeholder="Type in Your Message" name="message" size="35">
            <br>

      <span class="btn btn-default btn-file">
        Browse <input type="file" name="image">
      </span>
    <br>
    <input type="submit" value="Upload your image" class="btn btn-primary">
</form>
            <br>
            <h5> {{ note }} </h5>

            <br>
            <br>
            <p class="lead mb-5">Click <span class="text-primary"> <a href='#main'>Main Page</a></span> to view messages.</p>
           <p class="lead mb-5">Click <a href='/logout'>Here</a> to logout</p>
          <br>

        </div>
      </section>



      <hr class="m-0">

      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="interests">

          <h2 class="mb-5">Photos</h2>
          <ul class="list-inline dev-icons">
            {% for row in message: %}


<li class="list-inline-item">

    <div class="card" style="width: 18rem;">
  <img class="card-img-top" src=static\image\{{ row.filepath }} alt="Card image cap">
        <blockquote class="blockquote text-right">
  <p class="mb-0">{{ row.message }}</p>
  <footer class="blockquote-footer"> {{ row.username }}</cite></footer>
</blockquote>

 </div>
</li>

{% endfor %}
          </ul>

      </section>

      <hr class="m-0">

      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="awards">
        <div class="my-auto">
          <h2 class="mb-5">About</h2>
            <p>Hi, my name is <span class="text-primary">Rong</span> Zheng.</p>
            <p>The Doodle Page is a web app that I created solely for enthusiasts to share their favorite images. Please feel free to leave a comment and post something you like. </p>
            <p>The Page is currently using Python, Flask, Bootstrap, and SQLite. The source code is in the github link below.
            </p>
                              <div class="social-icons">
            <a href="https://github.com/zhengronggift/Python-SocialWeb">
              <i class="fab fa-github"></i>
            </a>
          </div>
        </div>
      </section>

    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js')}}"></script>
    <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>

    <!-- Plugin JavaScript -->
    <script src="{{ url_for('static', filename='vendor/jquery-easing/jquery.easing.min.js')}}"></script>

    <!-- Custom scripts for this template -->
    <script src="{{ url_for('static', filename='js/resume.min.js')}}"></script>

  </body>

</html>
